@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* Nav Section Added */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}
.nav-title h1 {
  font-size: 1.5rem;
}
.bar {
  display: none;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  list-style: none;
  margin: 0px 20px;
}
ul li a {
  text-decoration: none;
  color: black;
}
.cart {
  display: none;
}
/*Nav Hover Section  */
/* /////////////////////////////////////// */
.bar:hover i {
  color: gray;
}
.cart:hover i {
  color: gray;
}

li:hover a {
  color: gray;
}
li:hover i {
  color: gray;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* For Mobile Device */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 676px) {
  nav {
    justify-content: space-between;
  }
  .nav-title {
    text-align: center;
  }
  .bar {
    display: block;
  }
  .ul-div {
    display: none;
  }
  .cart {
    display: block;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* For Tablet Device */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 676px) and (max-width: 992px) {
  nav {
    justify-content: space-between;
  }
  .nav-title {
    text-align: center;
  }
  .bar {
    display: block;
  }
  .ul-div {
    display: none;
  }
  .cart {
    display: block;
  }
}
