@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.primary-text {
  color: gray;

}
.primary-btn {
  border: 0px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 30px;
  color: white;
  font-weight: bolder;
  background-color: #ea1179;
}

/* ////////////////////////////////////////////////////////////// */
/* Nav Section Added */
/* ////////////////////////////////////////////////////////////// */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.nav-title h1 {
  font-size: 1.5rem;
}
.bar {
  display: none;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  list-style: none;
  margin: 0px 20px;
}
ul li a {
  text-decoration: none;
  color: black;
}
.cart {
  display: none;
}
/*Nav Hover Section  */
/* /////////////////////////////////////// */
.bar:hover i {
  color: gray;
}
.cart:hover i {
  color: gray;
}

li:hover a {
  color: gray;
}
li:hover i {
  color: gray;
}

/* ////////////////////////////////////////////////////////////// */
/* Heading Section Added */
/* ////////////////////////////////////////////////////////////// */
.heading-section {
  display: flex;
  margin: 20px;
  text-align: center;
  align-items: center;
}
.heading-description {
  width: 50%;
  padding: 50px;
}
.heading-title {
  font-size: 2.5rem;
  margin: 20px;
}

.heading-img-div {
  width: 50%;
  background-image: url(../images/Circle\ design.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.heading-img-div img {
  width: 75%;
  padding: 50px;
}

/* ////////////////////////////////////////////////// */
/* Sponsor Section */
/* ///////////////////////////////////////////////// */
.sponsor-section {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-left: 0px;
  border-image: linear-gradient(to right, black, white) 1;
}
.sponsor-img-div {
  display: inline;
  width: 100%;
}
.sponsor-img-div img {
  padding: 20px 30px;
}

/* ///////////////////////////////////////////////////////// */
/* Cart Section */
/* ///////////////////////////////////////////////////////// */
.cart-title-div{
    text-align: center
}
.carts-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.cart-div{
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px grey;
}
.cart-img-div img{
    width: 100%;
    border-radius: 5px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* For Mobile Device */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 676px) {
  /* Responsive NavBar for Mobile Device */
  nav {
    justify-content: space-between;
  }
  .nav-title {
    text-align: center;
  }
  .bar {
    display: block;
  }
  .ul-div {
    display: none;
  }
  .cart {
    display: block;
  }

  /* Responsive Heading Section for Mobile Device */
  .heading-section {
    flex-direction: column-reverse;
  }
  .heading-description {
    width: 100%;
    padding: 20px;
  }
  .heading-img-div {
    width: 100%;
  }
  .heading-img-div img {
    padding: 20px;
  }

  /*Responsive Sponsor section for Mobile Device */
  .sponsor-img-div img {
    padding: 10px;
  }

  /* Responsive Cart Section for Mobile Device */
  .carts-div{
    grid-template-columns: repeat(1, 1fr);
    
}
.cart-img-div{
    text-align: center;
}
.cart-div{
    padding: 30px;
}
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* For Tablet Device */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 676px) and (max-width: 992px) {
  nav {
    justify-content: space-between;
  }
  .nav-title {
    text-align: center;
  }
  .bar {
    display: block;
  }
  .ul-div {
    display: none;
  }
  .cart {
    display: block;
  }
  /* Sponsor section for Tablet Device */
  .sponsor-img-div img {
    padding: 20px;
  }
    /* Responsive Cart Section for Tablet Device */
    .carts-div{
    
        grid-template-columns: repeat(2, 1fr);
        
    }
}
